<!DOCTYPE html>
<html>
<head>
	<title>First Blog</title>
</head>
<body>

	<div class="home">
		<h1><a href="#">Arief's Journey</a></h1>
	</div>
	
	<div class="post">
		<p>Published: 19 Jan 2019</p>
		<a href="#">First post</a>
		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi po
rta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum mass
a justo sit amet risus.</p>
	</div>

	<div class="post">
		<p>Published: 20 Jan 2019</p>
		<a href="#">Second post</a>
		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi po
rta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum mass
a justo sit amet risus.</p>
	</div>
</body>
</html>